
     <%-include('common/head.ejs')-%>
      <title>Hello, world!</title>
   </head>
   <body>
    <%-include('common/header.ejs')-%>
      <div class="container-fluid bg-side-nav">
         <div class="row">
            <div class="col-lg-2 sidebaare">
                <%-include('common/sidebaar.ejs')-%>
               
            </div>
            <div class="col-lg-10">

              <div class="dashboard-content-area">
                <!-- put your contente -->
                 
                 <% if (typeof success !== 'undefined' && success !== '') { %>
               <div class="alert alert-success" role="alert">
                  <%= success %>
               </div>
            <% } else if (typeof err !== 'undefined' && err !== '') { %>
               <div class="alert alert-danger" role="alert">
                  <%= err %>
               </div>
            <% } %>
 

               <h1>All Pages</h1>
               
               <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                     <tr>
                  
                        <th>Page Photo</th>
                        <th>Page Url</th>
                        <th>Nav Text</th>
                        <th>Title</th>
                        <th>Meta Description</th>
                        <th>Meta Keyword</th>
                        <th>h1</th>
                        <th>Page Details</th>
                        <th>Edit</th>
                        <th>Delete</th>
                     </tr>
                  </thead>
                  <tbody>
             

                        <%x.forEach((y)=>{%>
                           <tr>                       
                              <td>
                                 <%if(y.pagePhoto){%>
                                    <img src="/backend/images/<%=y.pagePhoto%>" width="70">
                                    <%}else{%>
                                       <img src="/backend/images/no-img.png" width="70">
                                    <%}%>
                                  </td>
                              <td><%=y.pageUrl%></td>
                              <td><%=y.pageNavText%></td>
                              <td><%=y.pageTitle%></td>
                              <td> <%=y.pageMetaDescrition%></td>
                              <td> <%=y.pageMetaKeyword%></td>
                              <td> <%=y.pageHeading%></td>
                              <td> <%=y.PageDetails.slice(0, 20)%></td>%></td>
                              <td>
                                 <a class="btn btn-primary" href="/admin/pages/edit-pages/<%=y.pageUrl%>">Edit</a>   </td>
                                 <td>                  
                                 <form style="display: inline;" action="/admin/pages/delete-pages/<%=y.pageUrl%>?_method=DELETE" method="POST">
                                    <button style="cursor: pointer;" type="submit" class="btn btn-danger ml-2">Delete</button>
                                 </form>
                              </td>
                           </tr>
                        <%x})%>
     
              
                  </tbody>
               </table>

              <center> <br> <a class="btn btn-success btn-md" href="/admin/pages/add-pages/">Add More Pages</a> </center>
              <!-- end your content here -->
             </div>

            </div>
         </div>
      </div>

     <%-include('common/footer.ejs')-%>